.wrapper-main__blurbs {
    border-top: 1px solid #322539;
    border-bottom: 1px solid #1d2f37;



    background: #322539;
    background: #745083;

/*
    background-image:
        linear-gradient(
            0deg,
            #322539,
            #745083
        );
*/

    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr=#FF322539, endColorstr=#FF745083
    );
    background-repeat: no-repeat;
}

.wrapper-main__content-01 {
    border-top: 1px solid #0d151b;
    border-bottom: 1px solid #e6e6e6;

    background: #edbfff;
    background: #f9f9f9;
}

/* Brands space
        DIMs : Height == 120px = 118/wrkHeigth + 2*1px/T,B Bords
*/
.wrapper-main__brands {
    border-top: 1px solid #fefefe;
    border-bottom: 1px solid #fefefe;

    background: #f9f9f9;
}

.wrapper-main__content-02 {
    border-top: 1px solid #d7d7d7;

    background: #ececec;
}

    /* Test Mark-Up */
header::before {
    background: #ececec;

    color: #f4ec32;
}


.header-02 {
    background: #482860;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=37)";

/*    background-color: rgba(72, 40, 95, 0.37);*/
}

.logo {
    color: #ffffff;

    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2,
            Color=#44000000, Positive='true');

/*    text-shadow: 0px 2px 2px rgba(#000000, 0.3);*/
}

/*.logo .logo_tail {*/
.logo_tail {
    color: #745083;
    color: #745083;

/*    text-shadow: initial;*/
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2,
            Color=#44000000, Positive='false');
}

.menu_header {
/*    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);*/

    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2,
            Color=#70000000, Positive='true');

}

.menu__link_header {

    color: #ffffff;

}

.menu__link_header:hover {
    border-bottom: 2px solid #edbfff;
}

.menu__item_header .current-page__link {
    border-bottom: 2px solid #edbfff;
}
/* SLIDER space ....

    ---------------------------------------------------------------------------------------------
*/

.slider {
/*    float: left;*/

    background: #000000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
}

/* Slider-item's Title DIMs :
        Font-size: 60px / 16px == 3.75rem
*/
.slider-item__title {
    color: #fefefe;

/*    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2,
            Color=#4D000000, Positive='true');

}

/* Slider-item's Breaf DIMs :
        Font-size: 32px / 16px == 2.00rem
*/
.slider-item__breaf {
    color: #edbfff;

    /*    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
        filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2,
                Color=#4D000000, Positive='true');
}

/* Slider-item's Article DIMs :
        Font-size: 18px / 16px == 1.125rem
        Line-Height: 24px / 16px == 1.5rem
*/
.slider-item__article {
    color: #edbfff;

/*    color: #ffffff;*/

    /*    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
        filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2,
                Color=#4D000000, Positive='true');

}

.slider-item__figure-container::before {
/*    background-image: url("../img/me-iphone-113_220-2bBlurred-min.png");

    filter: blur(4px);*/
}

/* Background Colour: rgba(236, 236, 236, 1.0) */

.slider-switch__item {
/*    border: 4px solid rgba(#403f49, 0.4);*/
    border: 4px solid #403f49;
/*    border: 4px solid transparent;*/

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    background: #403f49;

}

.slider-switch__item:hover {
/*    border: 4px solid rgba(64, 63, 73, 0.40);*/

    background: #ececec;

    border-color: #ececec;
}

.slider-switch__item_current {
    background: #ececec;
}

.blurb-item__title {
    color: #ffffff;

/*    text-shadow: 2px 2px 0px rgba(15, 21, 24, 0.4);*/

        filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2,
                Color=#660f1518, Positive='true');

}

.blurb-item__brief {
    color: #ffffff;

/*    text-shadow: 2px 2px 0px rgba(15, 21, 24, 0.4);*/
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2,
            Color=#660f1518, Positive='true');

}

.blurb-item__fullinfo-anchor {
    color: #ffffff;

    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2,
            Color=#660f1518, Positive='true');

}

.blurb-item__fullinfo-anchor:hover {
/*    text-shadow: 0px 0px 34px rgba(255, 255, 255, 1.0);*/
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0,
        Color=#ffffffff, Positive='true');
/*    filter: progid:DXImageTransform.Microsoft.Glow(Color=white,Strength=24);*/

}


.testimonials-list {
    background: #ffffff;
    /* Test Mark-Up */
    /*background-color: cornsilk;*/

/*    box-shadow: 0px 1px 2px 0px rgba(#999999, 0.43);*/
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=1, OffY=1,
        Color=#70999999, Positive='true');

}

/* CSS-Triangle
    is based on "css-tricks.com/snippets/css/css-triangle/"   - article
*/

.testimonials-list::after {
    color: #ffffff;

/*    text-shadow: 1px 2px 1px rgba(153, 153, 153, 0.43);*/
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=1, OffY=1,
        Color=#70999999, Positive='true');

}

.testimonial-item__title {
    color: #454545;
}

.testimonial-item__title span {

    color: #edbfff;
}

.testimonial-item__brief {
    color: #454545;
}

.testimonial-switch__item {
    border: 1px solid #ececec;
    background: #ffffff;

}

.testimonial-switch__item_current::before {
    border: 1px solid #454545;

    background: #454545;
}

.testimonial-switch__item:hover {
    border-color: #6a6a6a;
}



.blog__title {
    color: #454545;
}

.blog__list-item-title {
    color: #454545;
}

.blog__list-item-brief {
    color: #454545;
}

.blog__fullinfo-anchor {
    color: #454545;
}


/*
.brand-list__anchor_billabong {
    background-image: url("../img/01-brand-icon-Billabong.svg");
}

.brand-list__anchor_dcshoecousa {
    background-image: url("../img/02-brand-icon-dcshoecousa.svg");
}

.brand-list__anchor_element {
    background-image: url("../img/03-brand-icon-Element.svg");
}

.brand-list__anchor_awsm {
    background-image: url("../img/04-brand-icon-AWSM.svg");
}

.brand-list__anchor_rvca {
    background-image: url("../img/05-brand-icon-RVCA.svg");
}

.brand-list__anchor_vonzipper {
    background-image: url("../img/06-brand-icon-VonZipper.svg");
}

*/


.company-info__title {
    color: #454545;

/*    text-shadow: 0px 2px rgba(255, 255, 255, 1.0);*/
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2,
        Color=#ffffffff, Positive='true');

}

.company-info__title span {
    color: #b9b9b9;
}

.company-info__copyright {
    color: #c6c6c6;

    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=1, OffY=1,
        Color=#ffffffff, Positive='true');
}

.company-info__brief {
    color: #787878;

    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=1, OffY=1,
        Color=#ffffffff, Positive='true');
}


/* Font DIMs : 30px/24px == 1,875rem/0,8(1.5rem) */
.recent-comments__title {
    color: #454545;

    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1,
        Color=#ffffffff, Positive='true');

}

.recent-comments__brief {
    color: #787878;

    font: 1rem/1.5 "open_sanslight", sans-serif;

    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=1, OffY=1,
        Color=#ffffffff, Positive='true');

}

.news-categories__title {
    color: #454545;

    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1,
        Color=#ffffffff, Positive='true');

}

.news-categories__brief {
    color: #787878;

    font: 1rem/1.5 "open_sanslight", sans-serif;

    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=1, OffY=1,
        Color=#ffffffff, Positive='true');

}


/* Footer space goes here .... */

.menu__link_footer {
    border-bottom: 2px solid transparent;

    color: #ffffff;

    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=2, OffY=2,
        Color=#70ffffff, Positive='true');

}

.author-info {
    color: #ffffff;
    /* Test Mark-Up */
    color: cornsilk;


    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=2, OffY=2,
        Color=#70ffffff, Positive='true');

}
